<div class="parent" *ngFor="let data of todoData; let i =index" >
    <div class="text">
        <label for="">Text:</label>
        <h2>{{ data.textData | slice:0:15 }}...</h2>
    </div>
    <div class="date">
        <label for="">Time:</label>
        <h2>{{data.dateData}}</h2>
    </div>
    <div class="button">
        <button style="background-color:#4caf50"  (click)="view(i)">View</button>
        <button style="background-color:#1976d2" (click)="edit(i)">Edit</button>
        <button style="background-color: #f44336" (click)="delete(i)">Delete</button>
    </div>
</div>
<!-- (click)="setIsVisible()" -->