body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.child {
    background-color: #333;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    color: #ddd;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    font-size: 18px;
}

button {
    background-color: #5c67f2;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4b55d8;
    cursor: pointer;
}

button:disabled {
    background-color: #888;
    cursor: not-allowed;
    opacity: 0.5;
}

h1:last-of-type {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}
