.fail{
  background-color: rgb(53, 51, 51);
  color: white;
}
.pass{
    background-color: rgb(229, 7, 7);
    color: white;
}
.invalid{
    background-color: rgba(249, 193, 7, 0.954);
    color: white;
}