<form  [formGroup]="studentForm">
    <h1>create student object</h1>
    <label for="">Name</label>
    <input type="text" formControlName="name">
    <br>
    <label for="">School Logo URL</label>
    <!--formControlName="Vehicle" is with same name mapping  -->
    <input type="text" formControlName="school_logo">
    <br>
    <label for="">School Name</label>
    <input type="text" formControlName="school_name">
    <br>
    <label for="">Phone</label>
    <input type="text" formControlName="phone">
    <br>
    <label for="">DOB</label>
    <input type="text" formControlName="dob">
    <br>
    <label for="">City</label>
    <input type="text" formControlName="city">
    <br>
    <label for="">Email</label>
    <input type="text" formControlName="email">
    <br>
    <label for="">School City</label>
    <input type="text" formControlName="school_city">
    <br>
    <label for="">School Pin</label>
    <input type="text" formControlName="school_pin">
    <br>
    <label for="">Profile Picture URL</label>
    <input type="text" formControlName="profile_picture">
    <br>
    <button (click)="create()">Create</button>
</form>