<!-- <h3 *ngIf="rating>1 && rating <=2">* </h3>
<h3 *ngIf="rating>3 && rating <=3">* * </h3>
<h3 *ngIf="rating>3 && rating <=4">* * * </h3>
<h3 *ngIf="rating>0 && rating <=1">* * * *</h3>
<h3 *ngIf="rating>4">* * * * *</h3> -->

<img src="./assets/star1.jpg" alt="" *ngIf="rating>0 && rating <=1">
<img src="./assets/star2.jpg" alt="" *ngIf="rating>1 && rating <=2">
<img src="./assets/star3.jpg" alt="" *ngIf="rating>2 && rating <=3">
<img src="./assets/star4.jpg" alt="" *ngIf="rating>3 && rating <=4">
<img src="./assets/star5.jpg" alt="" *ngIf="rating>4">

