<div class="parent">
    <h2 class="fancy-message">Hello {{message}}</h2>
<button class="fancy-button" (click)="refresh()">Refresh</button>
<!--  -->
<a href="mailto:someone@gmail.com">Send email</a>
<input type="submit" value="">
<label for="abv">hkjh</label>
<input type="text" id="abv">
<input type="text">
<br>
<br>

<label for="fruits">Select your favorite fruits:</label>
<select id="fruits" name="fruits[]" multiple>
    <option value="apple">Apple</option>
    <option value="banana">Banana</option>
    <option value="orange">Orange</option>
    <option value="kiwi">Kiwi</option>
</select>
<input type="text" maxlength="4" aria-label="">
<form action="" tabindex="1">
    <label for="a">id</label>
    <input type="number" name="" id="a">
</form>
<br>
<!-- 9999999999999999999 -->
<nav>
    <a href="#home" tabindex="1" aria-label="Go to Home">Home</a>
    <a href="#about" tabindex="2" aria-label="Learn more about us">About</a>
    <a href="#contact" tabindex="3" aria-label="Contact us">Contact</a>
</nav>

<!-- Form -->
<form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" tabindex="4" aria-label="Enter your name">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" tabindex="5" aria-label="Enter your email address">

    <button type="submit" tabindex="6" aria-label="Submit the form">Submit</button>
</form>

<!-- Additional Content -->
<div>
    <p tabindex="0" aria-label="Read this important information">
        This is an important notice that needs to be read carefully.
    </p>
</div>


<ol type="i">
    <li>HTML</li>
    <li>CSS</li>
    <li>BOOTSTRAP</li>
    <li>JAVA SCRPT</li>
</ol>
<a href="https://www.facebook.com/" target="_blank">Facebook</a>

<video src="./assets/abcd.mp4" controls width="560" height="315" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></video>
<marquee behavior="slide" direction="right">
    Hello World!
</marquee>
<bdo dir="rtl">HTML</bdo>

    <h1 style="text-align: center;color: green;">GeeksforGeeks</h1>
    <p style="text-align: center;">Set the number of rows a table header cell should span in HTML</p>

    <table>
        <tr>
            <th>NAME of BANK</th>
            <th rowspan="3">SUNDAY HOLIDAY</th> <!-- Change to 2 to match the rows -->
            <th>Open Timings</th>
        </tr>
        <tr>
            <td>SBI</td>
            <td>10am to 5pm</td>
        </tr>
        <tr>
            <td>PNB</td>
            <td>10am to 5pm</td>
        </tr>
    </table>

<h1>Login</h1>
<form>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required minlength="10" maxlength="20" />
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required minlength="8" maxlength="20" />
    <br>
    <button type="submit">Login</button>
</form>
<label for="countries">Choose a country:</label>
<select id="countries" name="countries">
    <option value="IND">India</option>
    <option value="USA">United States</option>
    <option value="CAN">Canada</option>
    <option value="GBR">United Kingdom</option>
    <option value="AUS">Australia</option>
</select> <br>

<form>
    <h5 style="">Upload PAN Card</h5>
    <label for="pancard">Choose PAN Card file:</label>
    <input type="file" accept=".pdf, .jpg, .jpeg, .png" required>
    <br>
    <button type="submit">Upload</button>
</form>
<iframe width="560" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    
<!--  -->

</div>

    