* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
}

.dashboard {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    background-color: #f0f4f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 2px solid #ccc;
    overflow: auto;
}

.sidebar h1 {
    margin-bottom: 40px;
    font-size: 24px;
    color: #333;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 40px;
    overflow: auto;
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 6px 0;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #71b7e6;
}

.logout-btn {
    padding: 10px 20px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

.logout-btn:hover {
    background-color: #e43e3e;
}

.main-content {
    width: 86%;
    background-color: #f0f4f8; /* Blue background */
    
    overflow: auto;
    padding-bottom: 20px;
}
